<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{Titulo}}</title>
    <link rel="stylesheet" href="/styles/styles.csss">
</head>
<body>
    
    <h1>{{Titulo}}</h1>

    <form action="/login" method="POST">

        <label for="">Correo</label>
        <input type="email" placeholder="Correo@ejemplo.com">
        <label for="">Contrasena</label>
        <input type="password" placeholder="contrasena">

        <button>Ingresar</button>


    </form>
</body>
</html>